<style>
    section {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    form div {
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .special a {
        text-decoration: none;
        color: forestgreen;
        font-size: 20px;
    }
    
    h1 {
        color: red;
        font-size: 30px;
    }
</style>

<section data-ng-controller="CoursesController">
    <h1>Add Your Course</h1>
    <form data-ng-submit="create()" novalidate>
        <div>
            <label for="courseName">Course Name</label>
            <div>
                <input type="text" data-ng-model="courseName" id="courseName" placeholder="Course Name" required>
            </div>
        </div>

        <div>
            <label for="courseCode">Course Code</label>
            <div>
                <input type="text" data-ng-model="courseCode" id="courseCode" placeholder="Course Code">
            </div>
        </div>
        <div>
            <label for="program">Program</label>
            <div>
                <input type="text" data-ng-model="program" id="program" placeholder="Program">
            </div>
        </div>
        <div>
            <label for="description">Description</label>
            <div>
                <input type="text" data-ng-model="description" id="description" placeholder="Description" required>
            </div>
        </div>
        <div>
            <input type="submit">
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
    <hr/>
    <div class="special"> <a href="/#!/">Back To Home Page</a></div>
    <div class="special"> <a href="/#!/mycourses">View My Courses</a></div>
    <div class="special"> <a href="/#!/courses">View Available Courses</a></div>
</section>