<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Course Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">


  </head>
  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Course Management</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li class="active"><a href="#contact">Courses</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Create Course</h1>
        <p>Staffs are able to create courses.</p>
        <br/><br/>
        
        <a  class="btn btn-info" data-ng-href="#!/courses/create">Create new course</a>
        <a  class="btn btn-info" data-ng-href="#!">See my courses</a>
        
      </div>


      <div class="page-header">
        <h1>Create course</h1>
      </div>
      <p>
          
          <section data-ng-controller="CoursesController">
              
           <form data-ng-submit="create()" novalidate>
              <div class="panel-body">
	           	<div class="form-group">
	             	<label for="coursecode">Course Code: </label>
	             	<input type="text" class="form-control" data-ng-model="coursecode" id="coursecode" placeholder="Course Code" required />
	           	</div>
	           	<div class="form-group">
	             	<label for="coursename">Course Name: </label>
	             	<input type="text" class="form-control" data-ng-model="coursename" id="coursename" placeholder="Course Name" required />
	           	</div>
	           	<div class="form-group">
	            	 <label for="program">Program</label>
	            	 <input type="text" class="form-control" data-ng-model="program" id="program" placeholder="program" required /> 
	           	</div>
	           	<div class="form-group">
	             	<label for="description">Description</label>
                    <textarea class="form-control" rows="5" data-ng-model="description" id="description" placeholder="description"></textarea>
	           	</div>
	           	<div data-ng-show="error"  class="form-group">
                    <strong data-ng-bind="error"></strong>
                </div>
	           	<button type="submit" class="btn btn-info" >Create</button>
				<a class="btn btn-default" href="/" role="button">Back to Home</a>
	        </div>
              
           </form>
            </section>
 
      </p>

   </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/docs.min.js"></script>

  </body>
</html>