<style>
    section {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .special {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: red;
    }
    
    .special a {
        text-decoration: none;
        color: forestgreen;
    }
    
    h1 {
        color: red;
        font-size: 30px;
    }
    
    ul a {
        text-decoration: none;
        color: forestgreen;
        font-size: 20px;
    }
    
    ul {
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
    }
</style>
<section data-ng-controller="CoursesController" data-ng-init="findAll()">
    <h1>Courses</h1>
    <ul data-ng-repeat="course in courses">
        <div>
            <li>
                <a data-ng-href="#!/courses/{{course._id}}" data-ng-bind="course.courseName"></a>
                <br>
                <p data-ng-bind="course.code"></p>
                <small>Program: </small>
                <small data-ng-bind="course.program"></small>
                <small>/</small>
                <small data-ng-bind="course.creator.fullName"></small>
            </li>
        </div>
    </ul>
    <div class="special">View courses you've enrolled in <a href="/#!/mycourses">My Courses</a></div>
    <div class="special" data-ng-show="!courses || courses.length">Why don't you <a href="/#!/courses/create">Add more</a> ?</div>
    <div class="special" data-ng-hide="!courses || courses.length">No Courses yet, why don't you <a href="/#!/courses/create">Tell Us</a> About You ?</div>

    <hr/>
    <div class="special"> <a href="/#!/">Back To Home Page</a></div>
</section>