<html lang="en">

<head>
    <<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Course Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/docs.min.js"></script>
    <!-- Bootstrap theme -->
    <link href="../../css/bootstrap-theme.min.css" rel="stylesheet">

</head>

<body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Course Management</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/#!/">Home</a></li>
                    <li><a href="/#!/courses">Courses</a></li>
                 
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-controller="clientModuleController">
                    <li class="active"><a href="/#!/"> {{authentication.user.userName}} </a> </li>
                    <li data-ng-show="authentication.user"><a href="/signout">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

        <br> <br>
        <div class="page-header">
            <h1>Welcome To Our Course Manager</h1>
        </div>
        <div class="container">
            <div class="jumbotron">

                <section class="special" ng-controller="clientModuleController">
                    <div data-ng-show="!authentication.user">
                        <p>First Time Here ?</p>
                        <span><a href="/signup"> Sign Up</a></span>
                        <br/>
                        <hr>
                        <p> Already Have An Account?</p>
                        <span><a href="/signin"> Sign In</a></span></br>
                    </div>

                    <div data-ng-show="authentication.user">
                        <div data-ng-show="authentication.user.role =='student' ">
                            <h2>Hello Student, <span data-ng-bind="authentication.user.fullName"></span>!</h2>
                            <hr>
                            <br> <br>
                            <a class="btn btn-default" data-ng-href="/#!/courses">See Available Courses</a>
                            <a class="btn btn-default" data-ng-href="/#!/students/courses">See Your Current Courses</a>
                            <a class="btn btn-default" data-ng-href="/#!/students/transcript">View My Transcript</a>
                            </br>
                        </div>

                        <div data-ng-show="authentication.user.role =='staff' ">
                            <h2>Hello Staff, <span data-ng-bind="authentication.user.fullName"></span>!</h2>
                            <div class="jumbotron">
                                <h1>Course List</h1>
                                <small>This list is that all staff have inserted for courses. All staffs are allowed to create,
                                    update and delete their own courses.</small>
                                <br/>
                                <br/>
                                <a class="btn btn-default" href="/#!/courses/create"><b>Create new course</b></a>
                                <a class="btn btn-default" data-ng-href="/#!/courses"><b>See my courses</b></a>
                            </div>
                            </br>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>